@import '../css/reset.css';
@import './variables.scss';

@import-normalize;

* {
    box-sizing: border-box;
}

.container-flued {
    max-width: 1280px;
    margin: 0 auto; 
}  
.container {
    max-width: 1185px;
    margin: 0 auto;
    padding: 0px 210px;
    
}  

.row {
    margin-left: -15px;
    margin-right: -15px; 
    display: grid;
    grid-template-columns: 50% 50%;
}







.description-little-title {
    @include text13;
    margin-bottom: 20px;
    margin-top: 120px; 
    text-align:center;
}
.description-last {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
}

.description-title {
    @include  text44;
    margin-bottom: 55px;
}
.date {
   @include  text13;
   color: $lgrey;
   margin-top: 40px;
}
.last-title {
   @include  text21;
   font-size: 30px;
   margin-top: 20px; 
}
.last-image {
    margin-bottom: 85px;
}
.last  {
   @include  text21;
   font-size: 16px;
   margin-top: 30px; 
   line-height: 22px;
}
.read {
    padding: 15px 35px;
    margin-top: 50px; 
    @include  text14;
    border: 1px solid $dark;
}

.read:hover, .more:hover {
    background-color: #6e8290
}


.about{
    @include  text18;
    margin-bottom: 45px;
    line-height: 30px;
}

.more {
   @include  text14;
    border: 1px solid $dark;
    padding: 25px 50px;
    margin-bottom: 120px;
    display: block;
    margin: 0 auto;
}


.member-name {
    @include text21;
    margin-bottom: 35px;
    padding-left: 15px
}
.member-position {
  @include text13;
  padding: 20px 15px;
}
.member-description {
     @include text13-d;
     line-height: 24px;
     padding: 0 15px;
}
.members {
    display: grid;
    grid-template-columns: repeat(3,1fr);
 
} 
.contact-title {
    @include text13-d;
    padding: 50px 0;
    text-align: center;
}
.contact-item {
     @include text18;
}
.map {
    width: 100%;
    margin: 0px;
    iframe {
        width: 100%;
    }
}
.contact-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 120px;

}
.footer {
    background-color: #eeeeee;
}

.footer-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.end  {
    font-family:$sans;
    font-size: 16px; 
   color: $lgrey;
   padding: 40px 0;
  justify-self: center;
}

.active {
    color: white;
    background-color: #261bc5;
    margin: 15px;
    border-radius: 10px;
}

.hide {
    display: none;
}
.show {
    display: flex;
}








@media(min-width:993px) {
    

}


@media(max-width: 992px) {
   .container-flued {
    max-width: 960px;
}  
.container {
    max-width: 960px;
    padding: 0px 10px;  
} 
.medium {
    display: grid;
    grid-template-columns: 1fr 1fr;
     
}
.works-image {
    max-width: 310px;
    height: 300px;
}

}

@media(max-width: 767px) {
    .container-flued {
    max-width: 720px;
}  
.container {
    max-width: 720px;
    padding: 0px 10px;
    
}  
.small {
    display: grid;
    grid-template-columns: 1fr;
   
}
.member-item{
    justify-self: center;
}
    .menu  {
   display: block; 
   text-align: center;
   overflow: scroll;
 li {
    margin: 20px 0;
    a {
        color: black;
        .span-orange {
              color: $dark;   
    }
}
}
}


.nav-mobile-menu {
    position: relative;
    width: 15px;
    height: 15px;
        span {
    height: 1px;
    background-color: $dark;
    position: absolute;
    left: 0;
    right: 0;
    transition: .250s ease-in-out ; 
    &:nth-child(1) {
        top: 3px;
    }
     &:nth-child(2) {
        top: 7px;
    }
     &:nth-child(3) {
        bottom: 3px;
    }
    }
}
.hidden-menu {
    opacity: 0;
    visibility: hidden;
}
.navigation {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    transition: all 250ms ease-in-out ;
    transform: translateX(150%);
    z-index: 10;
}
.header-row {
    justify-content: space-between;
    align-items: center;
}
.nav-mobile-menu.active-menu span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
}
.nav-mobile-menu.active-menu span:nth-child(2) {
        top: 50%;
    transform: rotate(-45deg);
    }
.nav-mobile-menu.active-menu span:nth-child(3) {
    transform: scale(0);
    }
.navigation.active-menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    top: 72px;
    background-color:rgb(212, 21, 21);
   }
.read {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

}
